<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <h3>Original message:</h3>
      <p><%= @message %></p>
      <hr>
      <h3>Encrypted message:</h3>
      <p><%= @possibilities %></p>
      <%= link_to "New Message", message_path %>
    </div>
  </div>
</div>

